:root {
  --green-text: #7f8d05ed;
  --green-background: #0a1f0fed;
  --hover: #415741ed;
}
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--green-background);
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.Links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: red;
  text-decoration: none;
}
.Links a,
.Logo {
  text-decoration: none;
  color: var(--green-text);
  padding: 0.25rem;
  border-radius: 10px;
}
.Links a:hover {
  background-color: var(--hover);
}
