:root {
  --green-text: #7f8d05ed;
}

img {
  max-width: 25rem;
  aspect-ratio: 1;
  border-radius: 1rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--green-text);
  font-size: 1.5rem;
}
.container span {
  padding: 0.5rem;
}
.new-logo-text-container {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}
