:root {
  --dark--green: #172913ed;
  --green-hover: #485e06ed;
  --white: #fff;
}
.newLogo-container {
  text-align: center;
}
.newLogo-container button {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--white);
  background-color: var(--dark--green);
  padding: 1rem;
  border-radius: 1rem;
}
.newLogo-container button:hover {
  background-color: var(--green-hover);
}
